/*-----------------------------------------------------------------------------------------------------
		Projet : Api Doublet
		Website : http://www.doublet.fr/
		Auteur : Noparking (http://www.noparking.net/)

		Sommaire :  General
					Colonne Gauche:
						_Panier
						_Navigation
						
					Colonne droite:
						_Catalogue
						_Detail
						_Panier
						
					Styles:
						_Simple Grey
						_Gradient Grey
						_Simple Black
						_Gradient Grey
						_Simple Blue
						_Gradient Blue
					

-------------------------------------------------------------------------------------------------------*/

@import url(colorbox.css);

/* General
-------------------------------------------------------------------------------------------------------*/
.clear {clear:both;line-height:0;height:0;}
.clearfix:after {content: ".";display: block;clear: both;visibility: hidden;line-height: 0;height: 0;}
html[xmlns] .clearfix {display: block;}
* html .clearfix {height: 1%;}
.boutique-doublet a {color:#333;}
.boutique-doublet a:hover {color:#666;text-decoration:underline;}
.boutique-doublet p, .boutique-doublet h2 {margin:0;pading:0;}
.boutique-doublet ul, ol {list-style:none;margin:0;padding:0;}
.boutique-doublet img {-ms-interpolation-mode: bicubic;border:none;width:auto;}
.corner-4 {border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;}
.corner-8 {border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;}
.corner-12 {border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;-khtml-border-radius:12px;}
.boutique-doublet button,input[type="submit"]{padding:4px;font-weight:bold;font-size:11px;}
.boutique-doublet button:hover,input[type="submit"]:hover{cursor:pointer;}


/* Colonne gauche (Navigation + Panier)
-------------------------------------------------------------------------------------------------------*/

.boutique-doublet {
	width:100%;	
	border: 1px solid #ccc;
	font:12px/1.2em Arial, Helvetica, sans-serif;
	color:black;
	position:relative;
}

/*/// Widget Titre ///*/
.doublet-catalogue-title {
	background:#efefef;
	border-bottom:1px solid #DFDFDF;
	padding:10px 0;	
}

.doublet-catalogue-title h1,
.doublet-catalogue-title p {
	margin:0;
	padding:0 10px;	
	color:#333;
	text-shadow:0 1px 0 #efefef;
	line-height:1em;
}

/*/// Container ///*/
.doublet-catalogue-container {
	padding:10px;	
}

.doublet-catalogue-left {
	float: left;
	width: 200px;
	margin-right:40px;
}


/*========================/
	Panier
/========================*/

.doublet-catalogue-panier {
	margin-bottom:20px;
	padding-bottom:10px;
	border-bottom:1px dotted #CCC;
}

.doublet-catalogue-panier p.titre {
	background: url("../images/cart.png") no-repeat right 3px;
	padding-bottom:4px;
	margin-bottom:10px;
	border-bottom:1px dotted #CCC;
	font-size:14px;
	color:#000;
}

.doublet-catalogue-panier p {
	color:#666;
}

.doublet-catalogue-panier p strong {
	color:#333;
}

.doublet-catalogue-panier span {
	color:#666;
	font-style:italic;
}

.doublet-catalogue-panier button {
	margin-top:10px;
}


/*========================/
	Navigation (categorie)
/========================*/

.doublet-catalogue-area-catalogue p.titre  {
	padding-bottom:4px;
	margin-bottom:10px;
	border-bottom:1px dotted #CCC;
	font-size:14px;
}

.doublet-catalogue-area-catalogue ul li a {
	margin-bottom:4px;
	color:#333;
	text-decoration:none;
	display:block;
}

.doublet-catalogue-area-catalogue ul li a:hover {
	color:#666;
}

/*/// Level 1 ///*/
.doublet-catalogue-area-catalogue ul.level1 li a {
	padding-left:16px;
	font-size:14px;
}

.doublet-catalogue-area-catalogue ul.level1 li.collapse a:active{
	background: url("../images/toggle-minus.png") no-repeat left center;
}

.doublet-catalogue-area-catalogue ul.level1 li.expand a:active{
	background: url("../images/toggle-plus.png") no-repeat left center;
}

.doublet-catalogue-area-catalogue ul.level1 li.collapse a {
	background: url("../images/toggle-plus.png") no-repeat left center;
}

.doublet-catalogue-area-catalogue ul.level1 li.expand a {
	background: url("../images/toggle-minus.png") no-repeat left center;
}


/*/// Level 2 ///*/
.doublet-catalogue-area-catalogue ul.level2 {
	margin:0 0 10px 8px;
	padding-left:0px;
	border-left:1px dotted #ccc;
}

.doublet-catalogue-area-catalogue ul.level2 li a {
	padding-left:18px;
	color:#666;
	background: url("../images/puce-level2.gif") no-repeat left center !important;
	font-size:12px;
	display:block;
}

.doublet-catalogue-area-catalogue ul.level2 li a:hover {
	color:#333;
}

/*/// Logo ///*/
.doublet-logo {
	margin-top:20px;
}

.doublet-catalogue-footer {
	margin-top:20px;
	padding-top:10px;
	border-top:1px dotted #CCC;
}

/* Colonne Droite (Catalogue - Panier - Detail Produit)
-------------------------------------------------------------------------------------------------------*/
.doublet-catalogue-right {
	float: left;
	/*width:800px;*/
}

/*/// Titre  ///*/
.doublet-catalogue-area h2,
.doublet-catalogue-area h3 {
	font-weight:normal;
	font-size:18px;
	padding-bottom:4px;
	margin-bottom:10px;
	border-bottom:1px dotted #CCC;

}

.doublet-catalogue-area h4 {
	padding:0;
	margin-bottom:5px;
}

/*/// Pager ///*/
.doublet-pager {
	font-size:14px;
}

.doublet-pager-next.active {
	background: url("../images/pager-next.png") no-repeat left top;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.doublet-pager-previous.active {
	background: url("../images/pager-previous.png") no-repeat left top;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.doublet-pager-next:hover,
.doublet-pager-previous:hover {
	background-position:left bottom;
}

/*========================/
	Catalogue (liste)
/========================*/

ul li.doublet-product-item {
	background:#f5f4f4;
	padding:10px;
	width:210px;
	float:left;
	margin:0 20px 20px 0;
}

ul li.doublet-product-item:hover {
	background:#efefef;
}

/*/// Infos produit ///*/
.doublet-product-infos {
	border-bottom:1px dotted #ccc;
	padding-bottom:10px;
	margin-bottom:10px;
	min-height: 275px;
	height:auto !important;
	height:275px;
}

.doublet-product-infos-thumbnail {
	overflow:hidden;
	background:#FFF;
	margin-bottom:10px;
}

.doublet-product-infos-thumbnail a {
	display:block;
	width:150px;
	height:150px;
	overflow:hidden;
	margin:0 auto;
}

.doublet-product-infos-thumbnail img {
	width:150px;
}

.doublet-product-infos-titre {
	font-weight:bold;
	font-size:14px;
	padding-bottom:10px;
}

.doublet-product-infos-description {
	color:#555;
	line-height:1em;
	padding-bottom:10px;
}

.doublet-product-infos a.doublet-product-more {
	color:#000;
	text-decoration:underline;
	font-style:italic;
}

.doublet-product-infos a.doublet-product-more:hover {
	color:#333;
	text-decoration:underline;
}

/*/// Prix + ajouter au panier ///*/

.doublet-product-infos-price {
	float:left;
	/*width:85px;*/
}

.doublet-product-addtocart {
	float:right;
	width:120px;
}


/*========================/
	Detail Produit
/========================*/

.doublet-product-detail {
	background:#f5f4f4;
	padding:10px;
	margin:10px 0;	
}

.doublet-product-detail .doublet-product-detail-image {
	background:#ffffff;
	margin-bottom:20px;
}

.doublet-product-detail .doublet-product-detail-image img {
	display:block;
	width:300px;
	margin:0 auto;
}

.doublet-product-detail h2 {
	color: #3333;	
	border: none;	
}


.doublet-product-detail p {
	color: #666666;
    line-height: 1em;
    margin:10px 0 40px 0;
}

.doublet-product-detail .doublet-catalogue-close {
	margin-bottom:20px;
}

/*/// Variantes & Autres ///*/
.doublet-product-detail-table {
	width:100%;
	font-size:12px;
	color:#333;
	background:#ffffff;
	border-collapse:collapse;
}

.doublet-product-detail-table tr th {
	background:#DDDDDD;
	color:#000;
}

.doublet-product-detail-table tr th,
.doublet-product-detail-table tr td {
	padding:10px;
	text-align:left;
}

.doublet-product-detail-table tr:hover {
	background:#f5f4f4;
}

.doublet-product-detail-table tr:nth-child(even){
	/*background:#f5f4f4;*/
}


/*========================/
	Panier
/========================*/

/*//// Empty ////*/
.doublet-cart-empty {
	padding:20px 0;
}

.doublet-cart-empty p {
	font-size:16px;
	margin-bottom:20px;
}


/*//// Table ////*/
.doublet-catalogue-area-panier {
	background: url("../images/cart.png") no-repeat right 3px;
}

table.checkout-products {
	font-size:14px;
	border-collapse:collapse;
	width:100%;
	text-align:left;
}

table.checkout-products label {
	font-size:12px;
	color: #666666;
}

table.checkout-products img {
	width:100px;
	height:100px;
}

table.checkout-products thead th {
	border-bottom:1px solid #efefef;
	background:#efefef;
	padding:10px;
	color:#333;
}

table.checkout-products tbody td {
	border-bottom:1px solid #efefef;
	padding:10px;
}

table.checkout-products tfoot td {
	padding:10px;
	font-weight:bold;
}

.doublet-catalogue-area-panier table.checkout-products tfoot td {
	padding:10px 0;
	font-weight:normal
}

.doublet-catalogue-area-panier table.checkout-products tfoot td:last-child {
	text-align:right;
}

.doublet-sku-removefromcart {
	background: url("../images/trash.png") no-repeat left top !important;
	width:16px;
	height:16px;
	border:none !important;
	padding:0 !important;
	margin:0 !important;
	box-shadow:none !important;
	-moz-box-shadow:none !important;
	-webkit-box-shadow:none !important;
	
}

/*/// Checkout box ///*/

.doublet-cart-checkout-box {
	background:#efefef;
	margin:20px 0;
	padding:20px;
	float:right;
	text-align:right;
	font-size:14px;
	color:#666;
}

.doublet-cart-checkout-box strong {
	color:#000;
}

.doublet-cart-checkout-box button {
	margin-top:10px;
	padding:10px;
	background:#e92525;
	color:#FFF;
	border:none;
}

.doublet-cart-checkout-box button:hover {
	background:#9e1111;
}

.doublet-cart-forfait-box table {
	float: left;
	margin-right: 20px;
}

.doublet-cart-forfait-box div {
	margin-right: 20px;
	float: left;
	width: 250px;
	text-align: justify;
}

.doublet-cart-forfait {
	border: 1px solid #efefef;
	margin-top: 10px;
}

.doublet-cart-forfait tr {
	font-size: 14px;
}

.doublet-cart-forfait td {
	font-size: 12px;
	width: 90px;
	color: #666666;
	text-align: center;
}

p.doublet-cart-forfait {
	padding-bottom: 8px;
}

p.doublet-cart-tva {
	padding-bottom: 8px;
}

/*/// Overlay ///*/
#doublet-catalogue-overlay {
	position: absolute;
	z-index: 0;
	background: rgb(256, 256, 256);
	background: rgba(256, 256, 256, 0.8);
}

#doublet-catalogue-overlay-message {
	margin: 200px 100px 0 100px; 
	padding: 20px;
	font-size: 24pt;
	background-color: white;
	line-height: 80px;
	height: 80px;
	width: 750px;
	border: 1px solid #666666;
}

/* Styles
-------------------------------------------------------------------------------------------------------*/
/*========================/
	"corner-x"
	_Border-radius = "x"px
	Coin arrondis
/========================*/
/* 4 */
.corner-4 .doublet-product-item, .corner-4 button, .corner-4 a, .corner-4 .doublet-cart-checkout-box {border-radius:4px;-moz-border-radius:4px;-webkit-border-radius:4px;-khtml-border-radius:4px;}
.corner-4 .doublet-catalogue-title {border-radius:4px 4px 0 0;-moz-border-radius:4px 4px 0 0;-webkit-border-top-left-radius:4px;-webkit-border-top-right-radius:4px;-khtml-border-radius:4px 4px 0 0;}
/* 8 */
.corner-8 .doublet-product-item, .corner-8 button, .corner-8 a, .corner-8 .doublet-cart-checkout-box {border-radius:8px;-moz-border-radius:8px;-webkit-border-radius:8px;-khtml-border-radius:8px;}
.corner-8 .doublet-catalogue-title {border-radius:8px 8px 0 0;-moz-border-radius:8px 8px 0 0;-webkit-border-top-left-radius:8px;-webkit-border-top-right-radius:8px;-khtml-border-radius:8px 8px 0 0;}
/* 12 */
.corner-12 .doublet-product-item, .corner-12 button, .corner-12 a, .corner-12 .doublet-cart-checkout-box {border-radius:12px;-moz-border-radius:12px;-webkit-border-radius:12px;-khtml-border-radius:12px;}
.corner-12 .doublet-catalogue-title {border-radius:12px 12px 0 0;-moz-border-radius:12px 12px 0 0;-webkit-border-top-left-radius:12px;-webkit-border-top-right-radius:12px;-khtml-border-radius:12px 12px 0 0;}



/*========================/
	Grey Thème
	simple & Gradient
/========================*/

/*/// "simple-grey" - Grey color ///*/
.simple-grey.boutique-doublet {
	border: 1px solid #ccc;
}

.simple-grey .doublet-catalogue-title {
	background:#efefef;
	border-bottom:1px solid #DFDFDF;
}

.simple-grey .doublet-catalogue-title h1,
.simple-grey .doublet-catalogue-title p {
	color:#333;
	text-shadow:0 1px 0 #efefef;
}

.simple-grey button {
	color:#333;
	background:#dfdfdf;
	border:none;
}

.simple-grey button:hover {
	cursor:pointer;
	background:#cfcfcf;
}

.simple-grey button:active{
	background:#afafaf;
}

.simple-grey .doublet-product-infos-price,
.simple-grey .doublet-cart-price strong {
	color:#000;
}

.simple-grey .doublet-catalogue-panier p strong {
	color:#000;
}

.simple-grey .doublet-cart-checkout-box button {
	background:#e92525;
	color:#FFF;
}

.simple-grey .doublet-cart-checkout-box button:hover {
	background:#9e1111;
}

.simple-grey .doublet-cart-checkout-box button:active {
	background:#e92525;
}



/*/// "gradient-grey" ///*/
.gradient-grey.boutique-doublet {
	border: 1px solid #ccc;
}

.gradient-grey .doublet-catalogue-title {
	background:#efefef;
	border-bottom:1px solid #AFAFAF;
	background: -moz-linear-gradient(top, #efefef , #cccccc);
	background: -webkit-gradient(linear,left top,left bottom,from(#efefef),to(#cccccc));	
}

.gradient-grey .doublet-catalogue-title h1,
.gradient-grey .doublet-catalogue-title p {
	color:#333;
	text-shadow:0 1px 0 #efefef;
}

.gradient-grey button {
	color:#333;
	text-shadow:0 1px 0 #efefef;
	border:1px solid #ccc;
	background:#dfdfdf;
	background: -moz-linear-gradient(top, #dfdfdf , #cfcfcf);
	background: -webkit-gradient(linear,left top,left bottom,from(#efefef),to(#cccccc));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#efefef', endColorstr='#cccccc');
	box-shadow:inset 0 1px 0 #efefef, 0 1px 2px #aaa;
	-moz-box-shadow:inset 0 1px 0 #efefef, 0 1px 2px #aaa;
	-webkit-box-shadow:inset 0 1px 0 #efefef, 0 1px 2px #aaa;
	
}

.gradient-grey button:hover {
	cursor:pointer;
	background:#cfcfcf;
	background: -moz-linear-gradient(top, #cfcfcf , #dfdfdf);
	background: -webkit-gradient(linear,left top,left bottom,from(#cfcfcf),to(#dfdfdf));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cfcfcf', endColorstr='#dfdfdf');
	box-shadow:inset 0 1px 0 #dfdfdf, 0 1px 2px #aaa;
	-moz-box-shadow:inset 0 1px 0 #dfdfdf, 0 1px 2px #aaa;
	-webkit-box-shadow:inset 0 1px 0 #dfdfdf, 0 1px 2px #aaa;
}

.gradient-grey button:active{
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.gradient-grey.doublet-product-infos-price,
.gradient-grey .doublet-cart-price strong {
	color:#000;
}

.gradient-grey .doublet-catalogue-panier p strong {
	color:#000;
}

.gradient-grey .doublet-catalogue-panier p strong {
	color:#000;
}

.gradient-grey .doublet-cart-checkout-box button {
	color:#FFF;
	text-shadow:0 1px 0 #000;
	border:1px solid #640b0b;
	background:#e92525;
	background: -moz-linear-gradient(top, #e92525 , #9e1111);
	background: -webkit-gradient(linear,left top,left bottom,from(#e92525),to(#9e1111));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e92525', endColorstr='#9e1111');
	box-shadow:inset 0 1px 0 #f87c7c, 0 1px 2px #aaa;
	-moz-box-shadow:inset 0 1px 0 #f87c7c, 0 1px 2px #aaa;
	-webkit-box-shadow:inset 0 1px 0 #f87c7c, 0 1px 2px #aaa;
}

.gradient-grey .doublet-cart-checkout-box button:hover {
	background:#9e1111;
	background: -moz-linear-gradient(top, #9e1111 , #e92525);
	background: -webkit-gradient(linear,left top,left bottom,from(#9e1111),to(#e92525));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e1111', endColorstr='#e92525');
	box-shadow:inset 0 1px 0 #ed5c5c, 0 1px 2px #aaa;
	-moz-box-shadow:inset 0 1px 0 #ed5c5c, 0 1px 2px #aaa;
	-webkit-box-shadow:inset 0 1px 0 #ed5c5c, 0 1px 2px #aaa;
}

.gradient-grey .doublet-cart-checkout-box button:active {
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}




/*========================/
	Black Thème
	simple & Gradient
/========================*/

/*/// "simple-black" - black color ///*/
.simple-black.boutique-doublet {
	border: 1px solid #000;
}

.simple-black .doublet-catalogue-title {
	background:#000;
	border-bottom:none;
}

.simple-black  .doublet-catalogue-title h1,
.simple-black  .doublet-catalogue-title p {
	color:#FFF;
	text-shadow:none;
}


.simple-black button {
	color:#FFF;
	background:#000;
	border:none;
}

.simple-black button:hover {
	cursor:pointer;
	background:#333;
}

.simple-black button:active{
	background:#000;
}

.simple-black .doublet-product-infos-price,
.simple-black .doublet-cart-price strong {
	color:#000;
}

.simple-black .doublet-catalogue-panier p strong {
	color:#000;
}

.simple-black .doublet-cart-checkout-box button {
	background:#e92525;
	color:#FFF;
}

.simple-black .doublet-cart-checkout-box button:hover {
	background:#9e1111;
}

.simple-black .doublet-cart-checkout-box button:active {
	background:#e92525;
}

/*/// "gradient-black" ///*/
.gradient-black.boutique-doublet {
	border: 1px solid #000;
}

.gradient-black .doublet-catalogue-title {
	background:#efefef;
	border-bottom:1px solid #000;
	background: -moz-linear-gradient(top, #5e5e5e , #3a3a3a);
	background: -webkit-gradient(linear,left top,left bottom,from(#5e5e5e),to(#3a3a3a));	
}

.gradient-black .doublet-catalogue-title h1,
.gradient-black .doublet-catalogue-title p {
	color:#FFF;
	text-shadow:0 -1px 0 #333;
}

.gradient-black button {
	color:#FFF;
	text-shadow:0 -1px 0 #333;
	border:1px solid #000;
	background:#5e5e5e;
	background: -moz-linear-gradient(top, #5e5e5e , #3a3a3a);
	background: -webkit-gradient(linear,left top,left bottom,from(#5e5e5e),to(#3a3a3a));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#5e5e5e', endColorstr='#3a3a3a');
	box-shadow:inset 0 1px 0 #868686, 0 1px 2px #aaa;
	-moz-box-shadow:inset 0 1px 0 #868686, 0 1px 2px #aaa;
	-webkit-box-shadow:inset 0 1px 0 #868686, 0 1px 2px #aaa;
	
}

.gradient-black button:hover {
	cursor:pointer;
	background:#3a3a3a;
	background: -moz-linear-gradient(top, #3a3a3a , #5e5e5e);
	background: -webkit-gradient(linear,left top,left bottom,from(#3a3a3a),to(#5e5e5e));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3a3a3a', endColorstr='#5e5e5e');
	box-shadow:inset 0 1px 0 #868686, 0 1px 2px #aaa;
	-moz-box-shadow:inset 0 1px 0 #868686, 0 1px 2px #aaa;
	-webkit-box-shadow:inset 0 1px 0 #868686, 0 1px 2px #aaa;
}

.gradient-black button:active{
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.gradient-black .doublet-product-infos-price,
.gradient-black .doublet-cart-price strong {
	color:#000;
}

.gradient-black .doublet-catalogue-panier p strong {
	color:#000;
}

.gradient-black .doublet-cart-checkout-box button {
	color:#FFF;
	text-shadow:0 1px 0 #000;
	border:1px solid #640b0b;
	background:#e92525;
	background: -moz-linear-gradient(top, #e92525 , #9e1111);
	background: -webkit-gradient(linear,left top,left bottom,from(#e92525),to(#9e1111));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e92525', endColorstr='#9e1111');
	box-shadow:inset 0 1px 0 #f87c7c, 0 1px 2px #aaa;
	-moz-box-shadow:inset 0 1px 0 #f87c7c, 0 1px 2px #aaa;
	-webkit-box-shadow:inset 0 1px 0 #f87c7c, 0 1px 2px #aaa;
}

.gradient-black .doublet-cart-checkout-box button:hover {
	background:#9e1111;
	background: -moz-linear-gradient(top, #9e1111 , #e92525);
	background: -webkit-gradient(linear,left top,left bottom,from(#9e1111),to(#e92525));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e1111', endColorstr='#e92525');
	box-shadow:inset 0 1px 0 #ed5c5c, 0 1px 2px #aaa;
	-moz-box-shadow:inset 0 1px 0 #ed5c5c, 0 1px 2px #aaa;
	-webkit-box-shadow:inset 0 1px 0 #ed5c5c, 0 1px 2px #aaa;
}

.gradient-black .doublet-cart-checkout-box button:active {
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}


/*========================/
	Blue Thème
	simple & Gradient
/========================*/

/*/// "simple-blue" - Blue "Doublet" color ///*/
.simple-blue.boutique-doublet {
	border: 1px solid #0080C7;
}

.simple-blue .doublet-catalogue-title {
	background:#0080C7;
	border-bottom:none;
}

.simple-blue .doublet-catalogue-title h1,
.simple-blue .doublet-catalogue-title p {
	color:#FFF;
	text-shadow:none;
}


.simple-blue button {
	color:#FFF;
	background:#0080C7;
	border:none;
}

.simple-blue button:hover {
	cursor:pointer;
	background:#00669F;
}

.simple-blue button:active{
	background:#0080C7;
}

.simple-blue .doublet-product-infos-price,
.simple-blue .doublet-cart-price strong {
	color:#0080C7;
}

.simple-blue .doublet-catalogue-panier p strong {
	color:#0080C7;
}

.simple-blue .doublet-cart-checkout-box button {
	background:#e92525;
	color:#FFF;
}

.simple-blue .doublet-cart-checkout-box button:hover {
	background:#9e1111;
}

.simple-blue .doublet-cart-checkout-box button:active {
	background:#e92525;
}

/*/// "gradient-blue" ///*/
.gradient-blue.boutique-doublet {
	border: 1px solid #0080C7;
}

.gradient-blue .doublet-catalogue-title {
	background:#0080C7;
	border-bottom:1px solid #00486F;
	background: -moz-linear-gradient(top, #0080C7 , #00669F);
	background: -webkit-gradient(linear,left top,left bottom,from(#0080C7),to(#00669F));	
}

.gradient-blue .doublet-catalogue-title h1,
.gradient-blue .doublet-catalogue-title p {
	color:#FFF;
	text-shadow:0 -1px 0 #00486F;
}

.gradient-blue button {
	color:#FFF;
	text-shadow:0 -1px 0 #00486F;
	border:1px solid #00486F;
	background:#0080C7;
	background: -moz-linear-gradient(top, #0080C7 , #00669F);
	background: -webkit-gradient(linear,left top,left bottom,from(#0080C7),to(#00669F));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0080C7', endColorstr='#00669F');
	box-shadow:inset 0 1px 0 #2CAAEF, 0 1px 2px #aaa;
	-moz-box-shadow:inset 0 1px 0 #2CAAEF, 0 1px 2px #aaa;
	-webkit-box-shadow:inset 0 1px 0 #2CAAEF, 0 1px 2px #aaa;
	
}

.gradient-blue button:hover {
	cursor:pointer;
	background:#00669F;
	background: -moz-linear-gradient(top, #00669F , #0080C7);
	background: -webkit-gradient(linear,left top,left bottom,from(#00669F),to(#0080C7));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00669F', endColorstr='#0080C7');
	box-shadow:inset 0 1px 0 #2CAAEF, 0 1px 2px #aaa;
	-moz-box-shadow:inset 0 1px 0 #2CAAEF, 0 1px 2px #aaa;
	-webkit-box-shadow:inset 0 1px 0 #2CAAEF, 0 1px 2px #aaa;
}

.gradient-blue button:active{
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.gradient-blue .doublet-product-infos-price,
.gradient-blue .doublet-cart-price strong {
	color:#0080C7;
}

.gradient-blue .doublet-catalogue-panier p strong {
	color:#0080C7;
}

.gradient-blue .doublet-cart-checkout-box button {
	color:#FFF;
	text-shadow:0 1px 0 #000;
	border:1px solid #640b0b;
	background:#e92525;
	background: -moz-linear-gradient(top, #e92525 , #9e1111);
	background: -webkit-gradient(linear,left top,left bottom,from(#e92525),to(#9e1111));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e92525', endColorstr='#9e1111');
	box-shadow:inset 0 1px 0 #f87c7c, 0 1px 2px #aaa;
	-moz-box-shadow:inset 0 1px 0 #f87c7c, 0 1px 2px #aaa;
	-webkit-box-shadow:inset 0 1px 0 #f87c7c, 0 1px 2px #aaa;
}

.gradient-blue .doublet-cart-checkout-box button:hover {
	background:#9e1111;
	background: -moz-linear-gradient(top, #9e1111 , #e92525);
	background: -webkit-gradient(linear,left top,left bottom,from(#9e1111),to(#e92525));
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#9e1111', endColorstr='#e92525');
	box-shadow:inset 0 1px 0 #ed5c5c, 0 1px 2px #aaa;
	-moz-box-shadow:inset 0 1px 0 #ed5c5c, 0 1px 2px #aaa;
	-webkit-box-shadow:inset 0 1px 0 #ed5c5c, 0 1px 2px #aaa;
}

.gradient-blue .doublet-cart-checkout-box button:active {
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

.doublet-product-detail-image-navigation {
	text-align:center;
}

.doublet-product-detail-image-navigation .prev {
	background: url("../images/pager-previous.png") no-repeat left top;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.doublet-product-detail-image-navigation .next {
	background: url("../images/pager-next.png") no-repeat left top;
	width: 16px;
	height: 16px;
	display: inline-block;
}

.doublet-product-detail-image-navigation .next:hover,
.doublet-product-detail-image-navigation .prev:hover {
	background-position:left bottom;
}

.doublet-product-detail-image li {
	display: none;
}

.doublet-product-detail-image li.active {
	display: block;
}
